{% extends "app/base.html" %} {% block content %} {% load static %}

<div id="intro" class="bg-image shadow-2-strong">
  <div
    class="mask d-flex align-items-center"
    style="background-color: rgba(0, 0, 0, 0.8)"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="container mt-5 mt-md-5 rounded-5 bg-white">
          <section class="my-5">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-6">
              <strong>Contact us</strong>
            </h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto pb-5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
              error amet numquam iure provident voluptate esse quasi, veritatis
              totam voluptas nostrum quisquam eum porro a pariatur veniam.
            </p>

            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-lg-5 mb-lg-0 mb-4">
                <!-- Form with header -->
                <div class="card">
                  <div class="card-body">
                    <!-- Header -->
                    <div class="form-header blue accent-1">
                      <h3 class="mt-2">
                        <i class="fas fa-envelope"></i> Write to us:
                      </h3>
                    </div>
                    <div class="text-center">
                      <p class="text-danger">{{msg}}</p>
                    </div>
                    <p class="dark-grey-text">
                      We'll write rarely, but only the best content.
                    </p>

                    <!-- Body -->
                    <form action="{% url 'submitquery' %}" method="post">
                      {%csrf_token%}
                      <div class="row gx-3">
                        <div class="col-6">
                          <div class="form-outline mb-2">
                            <input
                              type="text"
                              name="fname"
                              id="form-fname"
                              class="form-control"
                              value="{{request.session.firstname}}"
                            />
                            <label class="form-label" for="form-fname"
                              >First name</label
                            >
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="form-outline mb-2">
                            <input
                              name="lname"
                              type="text"
                              id="form-lname"
                              class="form-control"
                              value="{{request.session.lastname}}"
                            />
                            <label class="form-label" for="form-lname"
                              >Last name</label
                            >
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-outline mb-2">
                            <input
                              type="email"
                              name="email"
                              id="form-email"
                              class="form-control"
                              value="{{request.session.email}}"
                            />
                            <label class="form-label" for="form-email"
                              >Email</label
                            >
                          </div>
                          <div class="form-outline mb-2">
                            <input
                              type="tel"
                              name="contact"
                              id="form-contact"
                              class="form-control"
                            />
                            <label class="form-label" for="form-contact"
                              >Contact No.</label
                            >
                          </div>
                          <div class="form-outline mb-2">
                            <textarea
                              name="message"
                              id="form-text"
                              class="form-control md-textarea"
                              rows="3"
                            ></textarea>
                            <label class="form-label" for="form-text"
                              >Send message</label
                            >
                          </div>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-dark">
                            Submit
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Form with header -->
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-lg-7">
                <!--Google map-->
                <div
                  id="map-container-section"
                  class="z-depth-1-half border border-2 shadow-4  -strong rounded-5 map-container-section mb-4"
                  style="height: 400px"
                >
                  <iframe
                    src="https://maps.google.com/maps?q=Manhatan&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0"
                    style="border: 0"
                    allowfullscreen
                  ></iframe>
                </div>
                <!-- Buttons-->
                
              </div>
              <!-- Grid column -->
            </div>
            <div class="row gx-3 text-center justify-content-center">
              <div class="rounded-4 me-1 shadow-3-strong col-md-3 bg-secondary bg-opacity-25">
                <a class="btn-floating blue accent-1">
                  <i class="fas fa-map-marker-alt"></i>
                </a>
                <p>New York, 94126</p>
                <p class="mb-md-0">United States</p>
              </div>
              <div class="rounded-4 me-1 shadow-3-strong col-md-3 bg-secondary bg-opacity-25">
                <a class="btn-floating blue accent-1">
                  <i class="fas fa-phone"></i>
                </a>
                <p>+ 01 234 567 89</p>
                <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
              </div>
              <div class="rounded-4 me-1 shadow-3-strong col-md-3 bg-secondary bg-opacity-25">
                <a class="btn-floating blue accent-1">
                  <i class="fas fa-envelope"></i>
                </a>
                <p>info@gmail.com</p>
                <p class="mb-0">sale@gmail.com</p>
              </div>
            </div>
            <!-- Grid row -->
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
